h1, h2, h3, h4 {
    font-family: 'latolight';
}

img {
    max-width: 100%;
}

    #section-footer .container-input-email {
        max-width: 425px;
        margin: 0 auto;
    }

    #section-footer input {
        border-left: 1px solid rgb(177, 177, 177);
        border-top: 1px solid rgb(177, 177, 177);
        border-bottom: 1px solid rgb(177, 177, 177);
        border-right: 0;
        border-radius: 5px 0 0 5px;
        background-color: rgba(177, 177, 177, 0.05);
        box-shadow: 0 0 8px 0 rgba(177, 177, 177, 0.05);
        font-size: 16px;
        line-height: 1.25;
        text-align: left;
        color: rgba(255,255,255,1);
        font-family: 'latoregular';
        height: 45px;
    }

        #section-footer input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 15px;
            line-height: 1.25;
            text-align: left;
            color: rgba(160,159,172,1);
        }

        #section-footer input::-moz-placeholder { /* Firefox 19+ */
            font-size: 16px;
            line-height: 1.25;
            text-align: left;
            color: rgba(160,159,172,1);
        }

        #section-footer input:-ms-input-placeholder { /* IE 10+ */
            font-size: 16px;
            line-height: 1.25;
            text-align: left;
            color: rgba(160,159,172,1);
        }

        #section-footer input:-moz-placeholder { /* Firefox 18- */
            font-size: 14px;
            line-height: 1.25;
            text-align: left;
            color: rgba(160,159,172,1);
        }

    #section-footer button.btn-subscribe {
        border-radius: 0 5px 5px 0;
        background-color: #76729f;
        border: none;
        box-shadow: 0 1px 6px 0 rgba(145, 106, 191, 0.5);
        line-height: 2.428571;
        font-family: 'latoregular';
        font-size: 14px;
        color: #ffffff;
    }

        #section-footer button.btn-subscribe:hover {
            box-shadow: 0 25px 25px rgba(0,0,0,0.3);
            color: #76729f;
            background-color: rgba(255, 255, 255, 1);
            font-weight: bold;
        }


#section-services {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

    #section-services .container-items {
    }

        #section-services .container-items:after {
            content: '';
            clear: both;
            display: table;
        }

        #section-services .container-items .service-item {
            display: inline-block;
            vertical-align: middle;
            max-width: 400px;
            height: 300px;
        }

            #section-services .container-items .service-item.rotacao {
                position: relative;
            }

    #section-services h4 {
        color: #777590;
    }

    #section-services h3 {
        margin-bottom: 20px;
    }

    #section-services h3, a {
        color: #512980;
    }

    #section-services a {
        text-decoration: underline;
    }

        #section-services a:hover {
            color: rgba(145,106,191,0.5);
            text-decoration: none;
        }

    #section-services .container-img {
        height: 102px; /* equals max image height */
        white-space: nowrap; /* this is required unless you put the helper span closely near the img */
        text-align: center;
        margin: 1em 0;
    }

        #section-services .container-img .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        #section-services .container-img img {
            vertical-align: middle;
            max-height: 102px;
        }

    #section-services p.service-name {
        color: #000000;
        font-size: 19px;
        letter-spacing: 0.1px;
        text-align: center;
        margin-top: 10px;
        font-family: 'latoregular';
    }

    #section-services p.service-description {
        color: #777590;
        font-size: 15px;
        letter-spacing: 0.1px;
        line-height: 1.75;
        text-align: center;
        font-family: 'latoregular';
        padding-left: 20px;
        padding-right: 20px;
        height: 80px;
    }

#section-partners {
    margin-bottom: 80px;
    margin-top: 80px;
}

    #section-partners .main-title, #section-team .main-title, #section-news .main-title {
        font-size: 28px;
    }

    #section-partners h3, #section-team h3, #section-news h3 {
        color: #512980;
    }

    #section-partners .main-subtitle, #section-team .main-subtitle {
        margin-top: 20px;
        color: #777590;
        font-family: 'latoregular';
        font-size: 15px;
        padding-left: 16%;
        padding-right: 16%;
        line-height: 1.8em;
    }

    #section-partners .logo-section {
        margin-top: 35px;
    }

        #section-partners .logo-section img {
            max-height: 100%;
            height: 100px;
            width: 200px;
            margin: 0 50px;
        }



#section-footer {
    background: linear-gradient(to bottom, #2f295f, #151231);
    text-align: center;
    padding: 50px 0;
}

    #section-footer h3 {
        font-family: 'latolight';
        color: #a09fac;
    }

    #section-footer .footer-itens {
        font-family: 'latoregular';
    }

        #section-footer .footer-itens p {
            margin-bottom: 0px;
        }

        #section-footer .footer-itens a {
            color: rgb(188,85,133);
            text-decoration: underline;
            font-family: 'latoregular';
        }

            #section-footer .footer-itens a:hover {
                color: rgba(188,85,133,0.5);
                text-decoration: none;
            }

    #section-footer .footer-item-title {
        font-family: 'latoregular';
        color: #ffffff;
    }

    #section-footer .footer-item-description {
        font-family: 'latoregular';
        color: #a09fac;
        line-height: 1.8em;
    }

    #section-footer .container-social {
        padding-top: 10px;
    }

    #section-footer .social-begin, .social-end {
        width: 8%;
    }

    #section-footer .social {
        width: 14%;
        display: inline-block;
        text-align: center;
    }

        #section-footer .social a {
            color: #76729f;
        }

    #section-footer .subscribe-container {
        margin-bottom: 50px;
    }

#section-roadmap {
    margin-bottom: 80px;
    margin-top: 80px;
    width: 100%;
}

    #section-roadmap h3 {
        font-size: 28px;
        color: #512980;
    }

    #section-roadmap .row.road-map-background {
        margin-top: 50px;
        height: auto;
        -webkit-transform: skewY(-3deg);
        -moz-transform: skewY(-3deg);
        -o-transform: skewY(-3deg);
        background: #f9f9f9;
    }

    #section-roadmap .road-map-background .timeline {
        -webkit-transform: skewY(3deg);
        -moz-transform: skewY(3deg);
        -o-transform: skewY(3deg);
    }

        #section-roadmap .road-map-background .timeline:first-child p {
            text-align: right;
        }

        #section-roadmap .road-map-background .timeline:last-child p {
            text-align: left;
        }

    #section-roadmap .road-map-background .timeline {
        padding-top: 35px;
    }

        #section-roadmap .road-map-background .timeline:last-child .timeline-description {
            height: 100px;
        }

        #section-roadmap .road-map-background .timeline:first-child .timeline-description {
            height: 90px;
        }

    #section-roadmap .road-map-background p.roadmap-title {
        font-size: 17px;
        color: #777590;
        font-family: 'latoregular';
        font-weight: bold;
    }

    #section-roadmap .road-map-background .timeline-description.active p.roadmap-title {
        color: #ff6c72;
    }

    #section-roadmap .road-map-background p.roadmap-description {
        font-size: 13px;
        color: #777590;
        font-family: 'latoregular';
    }

    #section-roadmap .timeline {
        padding-top: 10px;
        text-align: center;
    }

    #section-roadmap .row.col-small-gutters > [class^="col-"],
    #section-roadmap .row.col-small-gutters > [class*=" col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }










@keyframes animate-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: none;
    }
}

@keyframes animate-right {
    100% {
        transform: translateX(-100%);
    }
}

#section-news {
    margin-top: 100px;
    margin-bottom: 75px;
}

    #section-news .news-internal-container {
        margin-top: 15px;
        display: table;
        width: 100%;
    }

        #section-news .news-internal-container > div {
            max-width: 900px;
        }

        #section-news .news-internal-container .div-btn-carousel {
            vertical-align: middle;
            min-height: 20px;
            width: 13%;
        }

            #section-news .news-internal-container .div-btn-carousel .btn-carrousel.disabled {
                cursor: not-allowed !important;
            }

        #section-news .news-internal-container .item-carousel .news-card {
            height: 100%;
            max-width: 250px;
            vertical-align: top;
            margin: 25px;
            box-shadow: 0 0 8px 0 rgba(177, 177, 177, 0.25);
            text-align: left;
            cursor: pointer;
        }

            #section-news .news-internal-container .item-carousel .news-card:hover {
                box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            }

            #section-news .news-internal-container .item-carousel .news-card img {
                height: 200px;
                width: 100%;
                text-align: center;
            }

            #section-news .news-internal-container .item-carousel .news-card .news-body {
                padding: 12px;
            }

                #section-news .news-internal-container .item-carousel .news-card .news-body .title {
                    font-family: 'latobold';
                    font-size: 15px;
                }

                #section-news .news-internal-container .item-carousel .news-card .news-body .description {
                    font-size: 12px;
                    color: #AEAEAE;
                    height: 80px;
                    white-space: normal;
                    margin: 0;
                }

        #section-news .news-internal-container .carousel-indicators {
            bottom: -25px;
        }

            #section-news .news-internal-container .carousel-indicators li {
                border: 1px solid #AEAEAE;
            }

                #section-news .news-internal-container .carousel-indicators li.active {
                    background-color: #e83e4e;
                    border: 1px solid #e83e4e;
                }



.carousel-showsixmoveone .carousel-control {
    width: 4%;
    background-image: none;
}

    .carousel-showsixmoveone .carousel-control.left {
        margin-left: 15px;
    }

    .carousel-showsixmoveone .carousel-control.right {
        margin-right: 15px;
    }

.carousel-showsixmoveone .cloneditem-1,
.carousel-showsixmoveone .cloneditem-2 {
    display: none;
}

@media all and (min-width: 768px) {
    .carousel-showsixmoveone .carousel-inner > .active.left,
    .carousel-showsixmoveone .carousel-inner > .prev {
        left: -33.333%;
    }

    .carousel-showsixmoveone .carousel-inner > .active.right,
    .carousel-showsixmoveone .carousel-inner > .next {
        left: 33.333%;
    }

    .carousel-showsixmoveone .carousel-inner > .left,
    .carousel-showsixmoveone .carousel-inner > .prev.right,
    .carousel-showsixmoveone .carousel-inner > .active {
        left: 0;
    }

    .carousel-showsixmoveone .carousel-inner .cloneditem-1,
    .carousel-showsixmoveone .carousel-inner .cloneditem-2 {
        display: block;
    }
}

@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showsixmoveone .carousel-inner > .item.active.right,
    .carousel-showsixmoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(33.333%, 0, 0);
        transform: translate3d(33.333%, 0, 0);
        left: 0;
    }

    .carousel-showsixmoveone .carousel-inner > .item.active.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-33.333%, 0, 0);
        transform: translate3d(-33.333%, 0, 0);
        left: 0;
    }

        .carousel-showsixmoveone .carousel-inner > .item.left,
        .carousel-showsixmoveone .carousel-inner > .item.prev.right,
        .carousel-showsixmoveone .carousel-inner > .item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            left: 0;
        }
}

@media all and (min-width: 992px) {
    .carousel-showsixmoveone .carousel-inner > .active.left,
    .carousel-showsixmoveone .carousel-inner > .prev {
        left: -16.666%;
    }

    .carousel-showsixmoveone .carousel-inner > .active.right,
    .carousel-showsixmoveone .carousel-inner > .next {
        left: 16.666%;
    }

    .carousel-showsixmoveone .carousel-inner > .left,
    .carousel-showsixmoveone .carousel-inner > .prev.right,
    .carousel-showsixmoveone .carousel-inner > .active {
        left: 0;
    }

    .carousel-showsixmoveone .carousel-inner .cloneditem-3,
    .carousel-showsixmoveone .carousel-inner .cloneditem-4,
    .carousel-showsixmoveone .carousel-inner .cloneditem-5 {
        display: block;
    }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showsixmoveone .carousel-inner > .item.active.right,
    .carousel-showsixmoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(33.333%, 0, 0);
        transform: translate3d(33.333%, 0, 0);
        left: 0;
    }

    .carousel-showsixmoveone .carousel-inner > .item.active.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-33.333%, 0, 0);
        transform: translate3d(-33.333%, 0, 0);
        left: 0;
    }

        .carousel-showsixmoveone .carousel-inner > .item.left,
        .carousel-showsixmoveone .carousel-inner > .item.prev.right,
        .carousel-showsixmoveone .carousel-inner > .item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            left: 0;
        }
}
